body {
    text-align: center;
    margin-top: 30px;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

.title {
    font-size: 28px;
    margin-bottom: 10px;
}

.input-diver-title {
    font-size: 16px;
    margin-top: 10px;
}

.grade-label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

.overall-grade {
    min-width: 160px;
    min-height: 100px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 0.5rem;
}

.overall-grade-value {
    font-size: 3rem;
    color: #27ae60;
    margin-top: 0.25rem;
}

.grade-container {
    display: flex;
    justify-content: center;
    gap: .5rem;
    flex-wrap: nowrap;
    margin: 2rem auto;
    background-color: #eaeaea;
    padding: .5rem;
    border-radius: 10px;
}

.grade {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    padding: .75rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;

}


.event-grade {
    min-width: 125px;
    min-height: 100px;
    font-size: 1.5rem;
}

.grade-label {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 0.5rem;
    text-align: center; /* Center the text */
}

.grade-value {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center; /* Center the text */
}



