
body {
    text-align: center;
    margin-top: 30px;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

.title {
    font-size: 28px;
    margin-bottom: 10px;
}

.input-diver-title {
    font-size: 16px;
    margin-top: 10px;
}

.grade-label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

}

.overall-grade {
    min-width: 100px;
    min-height: 40px;
    font-size: 2rem;
    font-weight: bold;
    color: #34495e;
}

.overall-grade-value {
    font-size: 2rem;
    color: #27ae60;
}

.grade-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align items to the bottom */
    gap: 1rem;
    flex-wrap: nowrap;
    background-color: #eaeaea;
    padding: .5rem;
    border-radius: 10px;
}



.event-grades-container {
    display: flex;
    justify-content: center;
    gap: .5rem; /* Adjust the gap as needed */
}





.grade {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    padding: .75rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0.1rem;

}


.event-grade {
    min-width: 40px;
    min-height: 50px;

}

.grade-label {
    font-size: 1rem;
    color: #666;
    text-align: center; /* Center the text */
}

.overall-grade-label {
    font-size: 1.75rem;
    font-weight: bold;
    color: #666;
    text-align: center; /* Center the text */
}

.grade-value {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center; /* Center the text */
}

